{% extends "layouts/lite.html" %}


{% block postnorth %}
<link rel='stylesheet' href="{{ asset.style('landing', 'site') }}">
{% endblock %}

{% block jstemplates %}
	<div id='streamitem' class='hidden template'>
		{% include "snippets/jstemplates/minitopic.html" %}
	</div>
{% endblock %}

{% block header %}
	<header id='topwelcome' class='collapsed'>
		{% include "snippets/pane/header/intro.html" %}
	</header>
{% endblock %}


{% block content %}

	<!-- Main Title + Post Topic Form -->
	<div id='welcome'>
		<h1 id='maintitle'>
			<span class='droptext'>what is</span>
			<span class='highlight'>occupy</span>
			<span class='droptext'>to you?</span>

			<span id='is' class='hidden'>is...</span>	
		</h1>
			
		<form id='poststatus' method='post' action='/' class='visualhidden'>
			<input id='tellus' class='large statusbox' name='topicbox' placeholder='money in politics' type='search' x-webkit-speech />
		</form>
		
		<div class='clearboth'></div>

	</div>

	<!-- Topic Stream -->
	<div id='topicstream' class='hidden'>

		<div id='streamcontainer'>
		</div>

	</div>

{% endblock %}


{% block footer %}
	<footer id='bottomwelcome' class='collapsed'>
		{% include "snippets/pane/footer/aroundyou.html" %}
	</footer>
{% endblock %}

{% block page_scripts %}
<script src="{{ asset.script('landing', 'site') }}"></script>
<script>

function get_topic(ctx)
{
	
}

function list_topics()
{

	var request = new Topic().list({}, {
	
		success: function (objects, response)
		{
			$.apptools.dev.verbose('TopicPull', 'Successfully pulled topics.', objects, response);
			
			response.id = request.id;
			var rendered_stream = Milk.render(document.getElementById('streamitem').innerHTML, response);

			$('#streamcontainer').html(rendered_stream);
		},

		failure: function (error)
		{
			alert('There was an error pulling topics. Check the console.');
			$.apptools.dev.error('TopicPull', 'Failed to pull topics.', error);
		}

	});
			
}

function post_topic(topic_name)
{

	var params = {
		name: topic_name,
		shortname: topic_name.toLowerCase().replace(/ /gi, '-')
	}

	if ((typeof($.apptools.user.current_user['username']) != 'undefined') && $.apptools.user.current_user.username != null)
	{
		params.posted_by = $.apptools.user.current_user.username;
	}

	var request = Topic.new(params, {
	
		success: function (object, response)
		{
			$.apptools.dev.verbose('TopicCreate', 'Successfully created topic.', object, response);
			
			response.id = request.id;
			response.topics = [response.topic];
			var rendered_stream = Milk.render(document.getElementById('streamitem').innerHTML, response);

			$('#streamcontainer').html(rendered_stream+document.getElementById('streamcontainer').innerHTML);
		},

		failure: function (error)
		{
			alert('There was an error creating your topic. Check the console.');
			$.apptools.dev.error('TopicCreate', 'Failed to create new topic.', error);
		}

	});

}

function do_animations_and_get_topics()
{
	list_topics();
	$('.droptext').animate({opacity: 0}, {duration: 300, complete: function () {
		
		$('.droptext').remove();
		$('#is').css({opacity: 0}).removeClass('hidden').animate({opacity: 1}, 300);
		$('#poststatus').css({opacity: 0}).removeClass('visualhidden').animate({opacity: 1}, 300);
		$('#topicstream').css({opacity: 0}).removeClass('hidden').animate({opacity: 1}, 300);
		$('.streamitem').css({opacity: 0}).removeClass('hidden').animate({opacity: 1}, 300);
	}});
}

$(document).ready(function (){
	$('#poststatus').submit(function (event) {
	
		$this = $(this);
		event.preventDefault();
		event.stopPropagation();
		
		var request = post_topic($this.children('#tellus').val());

	});
});

setTimeout(do_animations_and_get_topics, 2000);

</script>
{% endblock %}